# Project exclude paths
/client/target/
/client/target/scala-2.13/classes/
/endpoints/target/
/endpoints/target/scala-2.13/classes/
/project/project/target/
/project/target/
/server/target/
/server/target/scala-2.13/classes/
/target/
/.idea/modules/client.iml
/.idea/modules/endpoints.iml
/.idea/misc.xml
/.idea/modules.xml
/.bsp/sbt.json
/.idea/sbt.xml
/.idea/libraries/sbt__co_fs2_fs2_core_2_13_3_7_0_jar.xml
/.idea/libraries/sbt__co_fs2_fs2_io_2_13_3_7_0_jar.xml
/.idea/libraries/sbt__com_beachape_enumeratum_2_13_1_7_2_jar.xml
/.idea/libraries/sbt__com_beachape_enumeratum_macros_2_13_1_6_3_jar.xml
/.idea/libraries/sbt__com_chuusai_shapeless_2_13_2_3_10_jar.xml
/.idea/libraries/sbt__com_comcast_ip4s_core_2_13_3_3_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_magnolia1_2_magnolia_2_13_1_1_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_magnolia1_2_magnolia_2_13_1_1_3_jar.xml
/.idea/libraries/sbt__com_softwaremill_quicklens_quicklens_2_13_1_9_4_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_apispec_model_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_asyncapi_model_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_jsonschema_circe_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_openapi_circe_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_openapi_circe_yaml_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_apispec_openapi_model_2_13_0_3_2_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_client3_core_2_13_3_8_15_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_model_core_2_13_1_5_5_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_shared_akka_2_13_1_3_14_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_shared_core_2_13_1_3_14_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_shared_fs2_2_13_1_3_14_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_shared_ws_2_13_1_3_14_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_akka_http_server_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_apispec_docs_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_cats_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_cats_effect_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_client_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_core_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_core_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_enumeratum_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_files_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_http4s_server_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_json_circe_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_openapi_docs_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_server_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_sttp_client_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_swagger_ui_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_softwaremill_sttp_tapir_tapir_swagger_ui_bundle_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__com_twitter_hpack_1_0_2_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_13_2_6_20_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_2_13_10_2_10_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_core_2_13_10_2_10_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_parsing_2_13_10_2_10_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_protobuf_v3_2_13_2_6_20_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_13_2_6_20_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_stream_2_13_2_6_20_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_2_jar.xml
/.idea/libraries/sbt__com_typesafe_ssl_config_core_2_13_0_4_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_core_2_13_0_14_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_generic_2_13_0_14_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_jawn_2_13_0_14_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_numbers_2_13_0_14_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_parser_2_13_0_14_3_jar.xml
/.idea/libraries/sbt__io_circe_circe_yaml_2_13_0_14_2_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_client_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_core_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_crypto_2_13_0_2_4_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_dsl_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_ember_client_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_ember_core_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_ember_server_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_http4s_http4s_server_2_13_0_23_19_jar.xml
/.idea/libraries/sbt__org_log4s_log4s_2_13_1_10_0_jar.xml
/.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_3_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_collection_compat_2_13_2_9_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_13_1_0_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_11_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_11_jar.xml
/.idea/libraries/sbt__org_scodec_scodec_bits_2_13_1_1_37_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_36_jar.xml
/.idea/libraries/sbt__org_typelevel_case_insensitive_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_core_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_core_2_13_2_9_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_effect_2_13_3_5_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_effect_kernel_2_13_3_5_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_effect_std_2_13_3_5_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_kernel_2_13_2_8_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_kernel_2_13_2_9_0_jar.xml
/.idea/libraries/sbt__org_typelevel_cats_parse_2_13_0_3_9_jar.xml
/.idea/libraries/sbt__org_typelevel_jawn_parser_2_13_1_4_0_jar.xml
/.idea/libraries/sbt__org_typelevel_keypool_2_13_0_4_8_jar.xml
/.idea/libraries/sbt__org_typelevel_literally_2_13_1_1_0_jar.xml
/.idea/libraries/sbt__org_typelevel_log4cats_core_2_13_2_6_0_jar.xml
/.idea/libraries/sbt__org_typelevel_log4cats_slf4j_2_13_2_6_0_jar.xml
/.idea/libraries/sbt__org_typelevel_vault_2_13_3_5_0_jar.xml
/.idea/libraries/sbt__org_webjars_swagger_ui_4_18_2_jar.xml
/.idea/libraries/sbt__org_yaml_snakeyaml_1_33_jar.xml
/.idea/scala_compiler.xml
/.idea/modules/scalacode.tapir-app.iml
/.idea/modules/server.iml
/.idea/modules/tapir-app-build.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
